

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
section{
    display: block;
}
.container{
    width: 100%;
    
}
.header{
    width: 90%;
    margin: auto;
}
.menu{
    height: 100px;
}
ul li{
    list-style: none;
}

.menu li{
    float: right;
    padding: 30px 20px;
    font-family:'Roboto', sans-serif ;
}
.menu li a{
    color: black;
    text-decoration: none;
}
.sec-section{
    height: 500px;
    margin-bottom: 200px;
}
span{
    color: #FF8063;
}
.half-width{
    width: 50%;
    float: left;
    
}
.half-width h1{
    font-size: 100px;
    color: #363958;
    font-weight: 500;
    line-height: 90px;
    margin: 30px 40px;
    font-family: 'Bebas Neue', cursive;
    
}
.half-width p{
    color: #3E3E3E;
    line-height: 30px;
    font-family:'Roboto', sans-serif ;
    margin: 30px 40px;
    width: 50%;

}
a{
    text-decoration: none;
}
.half-width a{
    padding: 15px 30px;
    background-color: #FF8063;
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 30px 40px;
    
}
.half-width img{
    width: 100%;
    margin-top: 60;
}
.th-section h1{
font-size: 30px;
padding-top: 50px;
text-align: center;
}
.th-section{
    height: 600px;
    width: 100%;
    background-color: rgb(230, 230, 230);
}
.box{
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 30px;
    padding: 15px;
    box-shadow: gray;
    background-color: white;
    border-radius: 20px;

}

.lastet{
    margin-left: 250px;
}
.lastet img{
    height: 200px;   
    width: 100%;  
    margin-bottom: 10px;  
}
.box h3{
    margin: 10px;
    color: rgb(21, 1, 94);

}
.box p{
    margin: 10px;
    color: rgb(136, 133, 133);
}

.footer a{
    padding: 15px 30px;
    background-color: #FF8063;
    color: white;
    border: 0;
    border-radius: 5px;
    margin: 30px 40px;
    
}

.footer{
    height: 500px;  
}
.footer img{
height: 200px;
width: 650px;
margin: 100px 450px 0px 450px;
}
.logo{
    margin: 10px;
    float: left;
    

}
.logo img{
    height: 20px;
    width: 25px;
    
}
.last-footer h4{
    text-align: center;
    color: gray;
}
.last-footer h3{
    text-align: center;
    color: rgb(21, 1, 94);
    font-weight: 700;
    padding-top: 5px;
}
.set-logo{
    margin-left: 715px;
}
.last-footer p{
    text-align: center;
    color: gray;
    
}
.copyright h6{
    text-align: center;
    color: gray;
    font-weight: 400;
}